<a href="https://colab.research.google.com/github/rindyoktavia/Software_Engineering_Rindy_Oktavia/blob/main/Catatan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
# List
contoh_list = ["Rindy", 12, 12.0, ['Oktavia', 'Rinn'], {}, {}, True]
print(contoh_list[0])
print(contoh_list[1])
print(contoh_list[-1])

Rindy
12
True

In [29]:
# Contoh method di list
list1 = [1,3,5,7,9]

In [30]:
# append untuk menambah nilai diakhir
list1.append("Rindy")
list1

[1, 3, 5, 7, 9, 'Rindy']

In [31]:
# sort untuk mengurutkan nilai dari kecil terbesar
list_angka = [1,3,5,7,9]
list_angka.sort() 
list_angka

[1, 3, 5, 7, 9]

In [32]:
# pop untuk menghilangkan nilai diakhir
list_angka = [1,3,5,7,9]
list_angka.pop()
list_angka

[1, 3, 5, 7]

In [33]:
# remove untuk menghapus suatu nilai tertentu
list_angka = [1,3,5,7,9]
list_angka.remove(7)
list_angka

[1, 3, 5, 9]

In [34]:
# Dictionary
contoh_dict = {2:"Rindy", "Dua Belas":12, False:12.0, 3.0:['David', 'Dian'], "Dict":{}, 333:(), "Boolean":True}
print(contoh_dict[2])
print(contoh_dict["Dua Belas"])
print(contoh_dict[3.0])

Rindy
12
['David', 'Dian']

In [35]:
# Contoh method di dict: .keys()
contoh_dict.keys()

dict_keys([2, 'Dua Belas', False, 3.0, 'Dict', 333, 'Boolean'])

In [36]:
# Set
list_angka = [1,2,3,4,4,5,7]
set_angka = set(list_angka)
set_angka

{1, 2, 3, 4, 5, 7}

In [37]:
# Tuple
tuple_angka = [1,2,3,4,4,5,7]
tuple_angka[0]

1

In [38]:
# Looping
for i in range(10):
		print("Hai")

Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai
Hai

In [39]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [40]:
# while looping => Forever loop
a = 0
while a<20:
    print("a masih lebih kecil dari 20 {}".format(a))
    a += 1

a masih lebih kecil dari 20 0
a masih lebih kecil dari 20 1
a masih lebih kecil dari 20 2
a masih lebih kecil dari 20 3
a masih lebih kecil dari 20 4
a masih lebih kecil dari 20 5
a masih lebih kecil dari 20 6
a masih lebih kecil dari 20 7
a masih lebih kecil dari 20 8
a masih lebih kecil dari 20 9
a masih lebih kecil dari 20 10
a masih lebih kecil dari 20 11
a masih lebih kecil dari 20 12
a masih lebih kecil dari 20 13
a masih lebih kecil dari 20 14
a masih lebih kecil dari 20 15
a masih lebih kecil dari 20 16
a masih lebih kecil dari 20 17
a masih lebih kecil dari 20 18
a masih lebih kecil dari 20 19

In [41]:
# for else
for i in range(0,20,1):
    print(i)
else:
    print("Aku akan muncul jika break tidak tereksekusi")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Aku akan muncul jika break tidak tereksekusi

In [42]:
# Function
def nama_function(a,b):
    # masukan code disini
    if a > b:
        return a
    else:
        return b